custom-list {
    inset: true;
}


.custom-text {
    font-size: 10px;
    color: gray;
}



.custom-icon {
    color: red;
    margin: 0 10px;
}

strong{
    color: black;
    font-size: smaller;
}
b{
    color: darkgray;
}


  