<ion-menu contentId="main-content">
  <ion-content>
    <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../assets/userlogo.png" alt="" />
        <ion-label>
          <h2>{{userObject && userObject.username == null ? 'NA' : userObject.username}}</h2>
          <p>{{userObject && userObject.userEmail == null ? 'NA' : userObject.userEmail}}</p>
          <p>{{userObject && userObject.roleName == null ? 'NA' : userObject.roleName}}</p>
        </ion-label>
      </div>
      <div class="action-button">
        <ion-button>
          <!-- <ion-icon slot="start" name="add"></ion-icon> Add Branch -->
          <ion-toggle
            slot="end"
            color="success"
            (ionChange)="toggleTheme($event)"
          ></ion-toggle>
        </ion-button>
      </div>
      <div class="menu-items">
        <ion-list lines="none">
          <ion-menu-toggle>
            <ion-item routerLink="/leaderBoard" *ngIf="currentUserRole === 'Admin' || currentUserRole === 'Volunteer'">
              <ion-icon name="pie-chart-outline"></ion-icon>Leader Boader
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/upComingEvent"  *ngIf="currentUserRole === 'Volunteer'">
              <ion-icon name="browsers-outline"></ion-icon> Upcomming Event
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/event" *ngIf="currentUserRole === 'Admin'">
              <ion-icon name="mail-outline"></ion-icon>Create Event
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/searchEvent" *ngIf="currentUserRole === 'Admin'">
              <ion-icon name="mail-outline"></ion-icon>Event Search
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/reward" *ngIf="currentUserRole === 'Admin'">
              <ion-icon name="mail-outline"></ion-icon>Create Reward
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/searchReward" *ngIf="currentUserRole === 'Admin'">
              <ion-icon name="mail-outline"></ion-icon>Search Reward
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/user" *ngIf="currentUserRole === 'Admin'">
              <ion-icon name="mail-outline"></ion-icon>Create User
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/searchUser" *ngIf="currentUserRole === 'Admin'">
              <ion-icon name="mail-outline"></ion-icon>Search User
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item class="active" routerLink="/help-desk" *ngIf="currentUserRole === 'Volunteer'">
              <ion-icon name="mail-outline"></ion-icon>Help-Desk
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/help-desk-history" *ngIf="currentUserRole === 'Admin' || currentUserRole === 'Volunteer'">
              <ion-icon name="calendar-outline"></ion-icon>Help History
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle>
            <ion-item (click)="logout();">
              <ion-icon name="log-out-outline"></ion-icon>Logout
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
      <div class="footer-content">
      </div>
    </ion-toolbar>
  </ion-content>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center" style="font-size: medium;">
        © CopyRight
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header class="scroll-toolbar" [class.hidden]="hideToolbar" id="scrollToolbar">
    <ion-toolbar color="primary">
      <ion-buttons slot="start" *ngIf="menuFlag">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>
      <ion-title color="dark">Our Good Neighbour</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-content>
</div>
